<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html;charset=UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="no-referrer"/>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center well">
  <span th:if="${error}" th:text="${error}"></span>
  <div class="row">
    <a th:if="${prev}" th:href="@{'/chapter/'+ ${prev.id}}" th:text="上一页"></a>
    <a th:if="${next}" th:href="@{'/chapter/'+ ${next.id}}" th:text="下一页"></a>
  </div>
  <div class="row">
    <img th:unless="${error}" th:each="chapter:${chapters}" th:src="@{${chapter.url}}" class="img-responsive">
  </div>
  <div class="row">
    <a th:if="${prev}" th:href="@{'/chapter/'+ ${prev.id}}" th:text="上一页"></a>
    <a th:if="${next}" th:href="@{'/chapter/'+ ${next.id}}" th:text="下一页"></a>
  </div>
</div>
</body>
</html>