<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html;charset=UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="no-referrer"/>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center well">
  <h1>
    <span th:text="${catalog.name}"></span>
  </h1>
  <span th:if="${error}" th:text="${error}"></span>
  <div class="row" style="padding: 10px 0;">
    <div class="col-xs-4">
      <a th:if="${prev}" th:href="@{'/chapter/'+ ${prev.id}}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-xs-4">
      <a th:href="@{'/book/'+ ${current}}" class="btn btn-default">
        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>

      </a>
    </div>
    <div class="col-xs-4">
      <a th:if="${next}" th:href="@{'/chapter/'+ ${next.id}}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="row">
    <img th:unless="${error}" th:each="chapter:${chapters}" th:src="@{${chapter.url}}" class="img-responsive"
         style="display: inline">
  </div>
  <div class="row" style="padding: 10px 0;">
    <div class="col-xs-4">
      <a th:if="${prev}" th:href="@{'/chapter/'+ ${prev.id}}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-xs-4">
      <a th:href="@{'/book/'+ ${current}}" class="btn btn-default">
        <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
      </a>
    </div>
    <div class="col-xs-4">
      <a th:if="${next}" th:href="@{'/chapter/'+ ${next.id}}" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</div>
</body>
</html>