<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta content="text/html;charset=UTF-8"/>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="no-referrer"/>
  <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center well">
  <a href="/" class="btn btn-default" style="font-size: 20px;">
    <span class="glyphicon glyphicon-eject" aria-hidden="true"></span>
    <span th:text="${current.name}"></span>
  </a>
  <div class="row">
    <div th:each="catalog:${catalogs}" class="col-md-3">
      <a th:href="@{'/chapter/'+ ${catalog.id}}" th:text="${catalog.name}" class="btn"
         th:classappend="${catalog.lastRead}?'btn-danger'">
      </a>
      <a th:name="${catalog.id}" th:id="${catalog.id}"></a>
    </div>
  </div>
</div>
</body>
<script th:inline="javascript">
  /*<![CDATA[*/
  var lastRead = [[${lastRead}]];
  if (lastRead) {
    document.getElementById(lastRead.id).scrollIntoView({
      behavior: "smooth",
      block: "center"
    });
  }
  /*]]>*/
</script>
</html>